<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homedevices">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="views.viewReport"></activity>
        <activity android:name="views.delroom" />
        <activity android:name="views.addroom" />
        <activity android:name="views.delhouse" />
        <activity android:name="views.addhouse" />
        <activity android:name="views.addbuilder" />
        <activity android:name="views.Dashboard" />
        <activity android:name="views.addoutlet" />
        <activity android:name="views.deloutlet" />
        <activity android:name="views.addResidant" />
        <activity android:name="views.addAppliance" />
        <activity android:name="views.addHouseOwner" />
        <activity android:name="views.changeOwnership" />
        <activity android:name="views.linkAppliance" />
        <activity android:name="views.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>